body{
  overflow-y: hidden
  display: block;
}

#main {
  position: absolute;
  display: inline-block;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  }

#left {
  float: left;
  background: #A35CB9;
  width: 100px;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

#right {
  float: right;
  background: #A35CB9;
  width: 100px;
  height: 100vh;
  padding: 0px;
  margin: 0px;
}

.invader {
  width: 30px;
  height: 28px;
  position: absolute;
}

#ship {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 16px;
}
	
.missile {
  position: absolute;
  width: 3px;
  height: 18px;
}

#player_missile {
  position: absolute;
  width: 3px;
  height: 11px;
}

.base {
  position: absolute;
  width: 60px
  height: 44px;
}

.base_exp {
  position: absolute;
  width: 15px;
  height: 11px;
}
 
#canvas{
	position: absolute;
	display: block;
}

